@import "../../../../styles/variables.scss";

.main {
  .title {
    h1 {
      font-family: "Poppins", sans-serif !important;
      font-size: 40px;
      font-weight: bold;
      color: $main-color;
    }
    button {
      border-radius: 8px;
      background-color: $mainInt-color;
      border: none;
      color: white!important;
      font-family: "Poppins", sans-serif !important;
    }
  }
}
