<div class="main px-5 py-5">
  <div class="title d-flex justify-content-between align-items-center">
    <div><h1>Xidmətlər</h1></div>
    <div>
      <button routerLink="/new-service" class="px-4 py-2">Əlavə et</button>
    </div>
  </div>
  <div class="data_table">
    @if (services && services.length) {
    <!--Data table-->
    <table-togglable-columns
      [dataSource]="services"
      [displayedColumns]="displayedColumns"
      [paginator]="true"
      [editButton]="true"
      editButtonText="düzəliş et"
      [deleteButton]="true"
      deleteButtonText="sil"
      (onEdit)="editService($event.id)"
      (onDelete)="deleteService($event)"
      (onPage)="onPageChange($event)"
    ></table-togglable-columns>
    }
  </div>
</div>
