<div class="new-blog px-5 py-5">
  <div class="title">
    <h1>{{ pageTitle }}</h1>
  </div>

  <div class="w-100 tab-content">
    <form [formGroup]="newBlogForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div class="pb-2">
              <label for="Title"> Başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('titleAz')?.invalid &&
                  newBlogForm.get('titleAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>

            <div class="d-flex flex-column pb-2">
              <label for="SubTitle">Qısa məzmun</label>
              <quill-editor
                formControlName="shortDescriptionAz"
                [modules]="quillModules"
              >
              </quill-editor>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('shortDescriptionAz')?.invalid &&
                  newBlogForm.get('shortDescriptionAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Məzmun</label>
              <quill-editor
                formControlName="descriptionAz"
                [modules]="quillModules"
              >
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage"
              *ngIf="
                newBlogForm.get('descriptionAz')?.invalid &&
                newBlogForm.get('descriptionAz')?.touched
              "
            >
              <p class="p-0 m-0">* Xana boş ola bilməz.</p>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div class="pb-2">
              <label for="Title"> Title</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('titleEn')?.invalid &&
                  newBlogForm.get('titleEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="SubTitle">Short context</label>
              <quill-editor
                formControlName="shortDescriptionEn"
                [modules]="quillModules"
              >
              </quill-editor>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('shortDescriptionEn')?.invalid &&
                  newBlogForm.get('shortDescriptionEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Context</label>
              <quill-editor
                formControlName="descriptionEn"
                [modules]="quillModules"
              >
              </quill-editor>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('descriptionEn')?.invalid &&
                  newBlogForm.get('descriptionEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div class="pb-2">
              <label for="Title"> Заголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('titleRu')?.invalid &&
                  newBlogForm.get('titleRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="SubTitle">Краткий контекст</label>
              <quill-editor
                formControlName="shortDescriptionRu"
                [modules]="quillModules"
              >
              </quill-editor>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('shortDescriptionRu')?.invalid &&
                  newBlogForm.get('shortDescriptionRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title"> Контекст</label>
              <quill-editor
                formControlName="descriptionRu"
                [modules]="quillModules"
              >
              </quill-editor>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('descriptionRu')?.invalid &&
                  newBlogForm.get('descriptionRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      @if(mainImg){
      <div class="bgImg">
        <img [src]="mainImg" alt="" />
      </div>
      }

      <div class="pb-3">
        <label for="coverImage">Əsas şəkil</label>
        <input
          type="file"
          accept="image/*"
          (change)="onFile1Selected($event)"
          class="form-control"
          id="coverImage"
        />
      </div>

      @if(blogAttachments){
      <div class="w-100 pb-3" *ngFor="let item of blogAttachments">
        <div class="d-flex justify-content-between bgImg">
          <img [src]="item.attachmentUrl" alt="" />
        </div>
      </div>

      }
      <div>
        <label for="">Blog detalı üçün şəkil</label>
        <input
          type="file"
          accept="image/*"
          (change)="onFile2Selected($event)"
          class="form-control"
          id="uploadfile"
          multiple
        />
      </div>
      <div class="d-flex justify-content-end pt-4">
        <p-button
          [label]="submitButtonText"
          icon="fa-solid fa-plus"
          [disabled]="newBlogForm.invalid"
          (click)="submitForm()"
        />
      </div>
    </form>
  </div>
</div>
