<div class="new-blog px-5 py-5">
  <div class="title">
    <h1>Yeni Məqalə məlumatı</h1>
  </div>

  <div class="w-100 tab-content">
    <form [formGroup]="newBlogForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div class="pb-2">
              <label for="Title"> Başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="TitleAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('TitleAz')?.invalid &&
                  newBlogForm.get('TitleAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>

            <div class="pb-2">
              <label for="SubTitle"> Alt başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="ShortDescriptionAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('ShortDescriptionAz')?.invalid &&
                  newBlogForm.get('ShortDescriptionAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title"> Məzmun</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="DescriptionAz"
              >
              </textarea>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('DescriptionAz')?.invalid &&
                  newBlogForm.get('DescriptionAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div class="pb-2">
              <label for="Title"> Title</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="TitleEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('TitleEn')?.invalid &&
                  newBlogForm.get('TitleEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="pb-2">
              <label for="SubTitle"> SubTitle</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="ShortDescriptionEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('ShortDescriptionEn')?.invalid &&
                  newBlogForm.get('ShortDescriptionEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Context</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="DescriptionEn"
              >
              </textarea>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('DescriptionEn')?.invalid &&
                  newBlogForm.get('DescriptionEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div class="pb-2">
              <label for="Title"> Заголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="TitleRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('TitleRu')?.invalid &&
                  newBlogForm.get('TitleRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="pb-2">
              <label for="SubTitle"> Подзаголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="ShortDescriptionRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('ShortDescriptionRu')?.invalid &&
                  newBlogForm.get('ShortDescriptionRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title"> Контекст</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="TextRu"
              >
              </textarea>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newBlogForm.get('TextRu')?.invalid &&
                  newBlogForm.get('TextRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      <div class="pb-3">
        <label for="coverImage">Əsas şəkil</label>
        <input
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="form-control"
          id="uploadfile"
        />
      </div>
      <div>
        <label for="">Blog üçün şəkil</label>
        <input
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="form-control"
          id="uploadfile"
        />
      </div>
      <div class="d-flex justify-content-end pt-4">
        <p-button
          label="Əlavə et"
          icon="fa-solid fa-plus"
          [disabled]="newBlogForm.invalid"
        />
      </div>
    </form>
  </div>
</div>
