<div class="new-homePage px-5 py-5">
  <div class="title">
    <h1>{{ pageTitle }}</h1>
  </div>
  <div class="w-100 tab-content">
    <form [formGroup]="newHomePageForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div class="pb-2">
              <label for="Title"> Başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('titleAz')?.invalid &&
                  newHomePageForm.get('titleAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>

            <div class="pb-2">
              <label for="subTitle"> Alt başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="subTitleAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('subTitleAz')?.invalid &&
                  newHomePageForm.get('subTitleAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Məzmun</label>
              <quill-editor formControlName="textAz" [modules]="quillModules">
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage mt-5"
              *ngIf="
                newHomePageForm.get('textAz')?.invalid &&
                newHomePageForm.get('textAz')?.touched
              "
            >
              <p class="p-0 m-0">* Xana boş ola bilməz.</p>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div class="pb-2">
              <label for="Title"> Title</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('titleEn')?.invalid &&
                  newHomePageForm.get('titleEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="pb-2">
              <label for="SubTitle"> SubTitle</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="subTitleEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('subTitleEn')?.invalid &&
                  newHomePageForm.get('subTitleEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Context</label>
              <quill-editor formControlName="textEn" [modules]="quillModules">
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage mt-5"
              *ngIf="
                newHomePageForm.get('textEn')?.invalid &&
                newHomePageForm.get('textEn')?.touched
              "
            >
              <p class="p-0 m-0">* Field mustn't be empty.</p>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div class="pb-2">
              <label for="Title"> Заголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('titleRu')?.invalid &&
                  newHomePageForm.get('titleRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="pb-2">
              <label for="subTitle"> Подзаголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="subTitleRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('subTitleRu')?.invalid &&
                  newHomePageForm.get('subTitleRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Kонтекст</label>
              <quill-editor formControlName="textRu" [modules]="quillModules">
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage mt-5"
              *ngIf="
                newHomePageForm.get('textRu')?.invalid &&
                newHomePageForm.get('textRu')?.touched
              "
            >
              <p class="p-0 m-0">* Поле не должно быть пустым.</p>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      @if(backgroundImage){
      <div class="bgImg pb-4">
        <img [src]="backgroundImage" alt="" />
      </div>
      }

      <div>
        <input
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="form-control"
          id="uploadfile"
        />
      </div>

      <div class="d-flex justify-content-end pt-4">
        <p-button
          [label]="submitButtonText"
          icon="fa-solid fa-plus"
          (onClick)="submit()"
          [disabled]="newHomePageForm.invalid"
        />
      </div>
    </form>
  </div>
  <p-toast />
</div>
