<div class="new-homePage px-5 py-5">
  <div class="title">
    <h1>Yeni Ana səhifə məlumatı</h1>
  </div>
  <div class="w-100 tab-content">
    <form [formGroup]="newHomePageForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div class="pb-2">
              <label for="Title"> Başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('titleAz')?.invalid &&
                  newHomePageForm.get('titleAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>

            <div class="pb-2">
              <label for="subTitle"> Alt başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="subTitleAz"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('subTitleAz')?.invalid &&
                  newHomePageForm.get('subTitleAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title"> Məzmun</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="textAz"
              >
              </textarea>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('textAz')?.invalid &&
                  newHomePageForm.get('textAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div class="pb-2">
              <label for="Title"> Title</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('titleEn')?.invalid &&
                  newHomePageForm.get('titleEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="pb-2">
              <label for="SubTitle"> SubTitle</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="subTitleEn"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('subTitleEn')?.invalid &&
                  newHomePageForm.get('subTitleEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Context</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="textEn"
              >
              </textarea>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('textEn')?.invalid &&
                  newHomePageForm.get('textEn')?.touched
                "
              >
                <p class="p-0 m-0">* Field mustn't be empty.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div class="pb-2">
              <label for="Title"> Заголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('titleRu')?.invalid &&
                  newHomePageForm.get('titleRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="pb-2">
              <label for="subTitle"> Подзаголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="subTitleRu"
              />
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('subTitleRu')?.invalid &&
                  newHomePageForm.get('subTitleRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title"> Контекст</label>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="textRu"
              >
              </textarea>
              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newHomePageForm.get('textRu')?.invalid &&
                  newHomePageForm.get('textRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        class="form-control"
        id="uploadfile"
      />

      <div class="d-flex justify-content-end pt-4">
        <p-button
          label="Əlavə et"
          icon="fa-solid fa-plus"
          [disabled]="newHomePageForm.invalid"
        />
      </div>
    </form>
  </div>
  <p-toast />
</div>
