<div class="new-about px-5 py-5">
  <div class="title">
    <h1>{{ pageTitle }}</h1>
  </div>

  <div class="w-100 tab-content">
    <form [formGroup]="newAboutForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div>
              <div class="d-flex flex-column pb-2 h-100">
                <label for="Title">Məzmun</label>
                <quill-editor
                  formControlName="contentAz"
                  [modules]="quillModules"
                >
                </quill-editor>
              </div>

              <!--Required message-->
              <div
                class="validationMessage mt-5"
                *ngIf="
                  newAboutForm.get('contentAz')?.invalid &&
                  newAboutForm.get('contentAz')?.touched
                "
              >
                <p class="p-0 m-0">* Xana boş ola bilməz.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div>
              <div class="d-flex flex-column pb-2 h-100">
                <label for="Title">Context</label>
                <quill-editor
                  formControlName="contentEn"
                  [modules]="quillModules"
                >
                </quill-editor>
              </div>

              <!--Required message-->
              <div
                class="validationMessage mt-5"
                *ngIf="
                  newAboutForm.get('contentEn')?.invalid &&
                  newAboutForm.get('contentEn')?.touched
                "
              >
                <p class="p-0 m-0">*Field mustn't be empty.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div>
              <div class="d-flex flex-column pb-2 h-100">
                <label for="Title">Kонтекст</label>
                <quill-editor
                  formControlName="contentRu"
                  [modules]="quillModules"
                >
                </quill-editor>
              </div>

              <!--Required message-->
              <div
                class="validationMessage"
                *ngIf="
                  newAboutForm.get('contentRu')?.invalid &&
                  newAboutForm.get('contentRu')?.touched
                "
              >
                <p class="p-0 m-0">* Поле не должно быть пустым.</p>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
      <!-- Display video if they exist -->
      <!-- <div *ngIf="videos && videos.length > 0" class="pt-5">
        <div
          *ngFor="let video of videos; trackBy: trackByAttachmentUrl"
          class="bgImg row m-0 p-0"
        >
          <div class="col-lg-6 m-0 p-0">
            <video
              [src]="video.attachmentUrl"
              class="p-0 m-0"
              width="100%"
              height="100%"
              autoplay
              controlsList="nodownload noplaybackrate"
              disablePictureInPicture
            ></video>
          </div>
        </div>
      </div> -->

      <div>
        <input
          type="file"
          accept="video/*"
          (change)="onFileSelected($event)"
          class="form-control"
          id="uploadfile"
        />
      </div>

      <div class="d-flex justify-content-end pt-4">
        <p-button
          [label]="submitButtonText"
          icon="fa-solid fa-plus"
          [disabled]="newAboutForm.invalid"
          (click)="submitForm()"
        />
      </div>
    </form>
  </div>
</div>
