<div class="new-homePage px-5 py-5">
  <div class="title">
    <h1>Yeni partnyor</h1>
  </div>
  <div class="w-100 tab-content">
    @if(iconImg){
    <div class="bgImg ps-3 py-2">
      <img [src]="iconImg" alt="" />
    </div>
    }
    <form [formGroup]="newPartnerForm">
      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        class="form-control"
        id="uploadfile"
      />

      <div class="d-flex justify-content-end pt-4">
        <p-button
          label="Əlavə et"
          icon="fa-solid fa-plus"
          (onClick)="submit()"
        />
      </div>
    </form>
  </div>
</div>
