<div class="main px-5 py-5">
  <div class="title d-flex justify-content-between align-items-center">
    <div><h1>Haqqımızda</h1></div>
    <div>
      <p-button
        label="Əlavə et"
        icon="fa-solid fa-plus"
        routerLink="/new-about"
      />
    </div>
  </div>
  <div class="data_table">
    <!--Data table-->
    <table-togglable-columns
      [dataSource]="ELEMENT_DATA"
      [displayedColumns]="displayedColumns"
      [paginator]="true"
      [editButton]="true"
      editButtonText="düzəliş et"
      [deleteButton]="true"
      deleteButtonText="sil"
      (onEdit)="logData($event)"
      (onDelete)="logData($event)"
    ></table-togglable-columns>
  </div>
</div>
