<div class="new-homePage px-5 py-5">
  <div class="title">
    <h1>{{ pageTitle }}</h1>
  </div>
  <div class="w-100 tab-content">
    <form [formGroup]="newMemberForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div class="pb-2">
              <label for="Title"> Ad, soyad</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="fullNameAz"
              />
            </div>
            <div class="pb-2">
              <label for="SubTitle"> Vəzifə</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="positionAz"
              />
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="SubTitle"> Məzmun</label>
              <quill-editor
                [modules]="quillModules"
                formControlName="descriptionAz"
              >
              </quill-editor>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div class="pb-2">
              <label for="Title"> Full name</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="fullNameEn"
              />
            </div>
            <div class="pb-2">
              <label for="SubTitle"> Position</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="positionEn"
              />
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="SubTitle"> Context </label>
              <quill-editor
                [modules]="quillModules"
                formControlName="descriptionEn"
              >
              </quill-editor>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div class="pb-2">
              <label for="Title"> Полная имя</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="fullNameRu"
              />
            </div>
            <div class="pb-2">
              <label for="SubTitle"> Позиция</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="positionRu"
              />
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="SubTitle"> Kонтекст </label>
              <quill-editor
                [modules]="quillModules"
                formControlName="descriptionRu"
              >
              </quill-editor>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      <div class="pb-2">
        <label for="Title"> Instagram URL</label>
        <input
          type="text"
          pInputText
          class="w-100"
          formControlName="instagramUrl"
        />
      </div>

      <div class="pb-2">
        <label for="Title"> Facebook URL</label>
        <input
          type="text"
          pInputText
          class="w-100"
          formControlName="facebookUrl"
        />
      </div>

      <div class="pb-2">
        <label for="Title"> LinkedIn URL</label>

        <input
          type="text"
          pInputText
          class="w-100"
          formControlName="linkedinUrl"
        />
      </div>
      <div *ngIf="coverImage">
        <img [src]="coverImage" alt="" />
      </div>

      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        class="form-control mt-3"
        id="uploadfile"
      />

      <div class="d-flex justify-content-end pt-4">
        <p-button
          [label]="submitButtonText"
          icon="fa-solid fa-plus"
          (onClick)="submit()"
        />
      </div>
    </form>
  </div>
</div>
