<aside class="sidebar">
  <div class="sidebar-header">
    <img src="assets/images/Logo.svg" alt="logo" />
    <div>
      <h2
        style="
          color: #493979;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          line-height: 0px;
        "
      >
        INTEGRO
      </h2>
      <h2 style="color: #a6744e; font-size: 8px; line-height: 10px">
        ATTORNEYS & CONSULTANTS
      </h2>
    </div>
  </div>
  <ul class="sidebar-links">
    <h4>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a
        routerLink="main"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> home </span>Ana səhifə</a
      >
    </li>
    <li>
      <a
        routerLink="about"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> info </span>Haqqımızda</a
      >
    </li>
    <li>
      <a
        routerLink="services"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> volunteer_activism </span
        >Xidmətlərimiz</a
      >
    </li>
    <li>
      <a
        routerLink="team"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> groups </span>Əməkdaşlar</a
      >
    </li>
    <li>
      <a
        routerLink="partners"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> handshake </span>Partnyorlar</a
      >
    </li>
    <li>
      <a
        routerLink="blogs"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> rss_feed </span>Məqalələr</a
      >
    </li>
    <li>
      <a
        routerLink="contact"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> call </span>Əlaqə məlumatları</a
      >
    </li>
    <li>
      <a
        routerLink="pageSettings"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> pageless </span>Səhifələr</a
      >
    </li>
    <li>
      <a
        routerLink="feedbacks"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
      >
        <span class="material-symbols-outlined"> forum </span>Rəylər</a
      >
    </li>
    <li>
      <a
        routerLink="evaluate"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
      >
        <span class="material-symbols-outlined"> gavel </span>Qiymətləndirmə</a
      >
    </li>
    <h4>
      <span>Hesab</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined"> account_circle </span
        >Profil</a
      >
    </li>
  </ul>
  <div class="user-account">
    <div class="user-profile">
      <img src="assets/images/user.png" alt="Profile Image" />
      <div class="user-detail">
        <h3>{{ getUser()?.name }}</h3>
        <span>{{
          getUser()?.[
            "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
          ]
        }}</span>
      </div>
    </div>
    <div
      class="logout-overlay d-flex align-items-center"
      style="gap: 10px"
      (click)="logout()"
    >
      Log out<span class="material-symbols-outlined"> logout </span>
    </div>
  </div>
</aside>
