<aside class="sidebar">
  <div class="sidebar-header">
    <img src="assets/images/Logo.svg" alt="logo" />
    <div>
      <h2
        style="
          color: #493979;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          line-height: 0px;
        "
      >
        INTEGRO
      </h2>
      <h2 style="color: #a6744e; font-size: 8px; line-height: 10px">
        ATTORNEYS & CONSULTANTS
      </h2>
    </div>
  </div>
  <ul class="sidebar-links">
    <h4>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a
        routerLink="main"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> home </span>Home</a
      >
    </li>
    <li>
      <a
        routerLink="about"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> info </span>About</a
      >
    </li>
    <li>
      <a
        routerLink="services"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> volunteer_activism </span
        >Services</a
      >
    </li>
    <li>
      <a
        routerLink="team"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> groups </span>Team</a
      >
    </li>
    <li>
      <a
        routerLink="partners"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> handshake </span>Partners</a
      >
    </li>
    <li>
      <a
        routerLink="blogs"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> rss_feed </span>Blogs</a
      >
    </li>
    <li>
      <a
        routerLink="contact"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="router-link-active"
        ><span class="material-symbols-outlined"> call </span>Contact</a
      >
    </li>
    <h4>
      <span>Account</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined"> account_circle </span
        >Profile</a
      >
    </li>
    <li>
      <a href="#"
        ><span class="material-symbols-outlined"> settings </span>Settings</a
      >
    </li>
  </ul>
  <div class="user-account">
    <div class="user-profile">
      <img src="assets/images/profile-img.jpg" alt="Profile Image" />
      <div class="user-detail">
        <h3>{{ getUser()?.name }}</h3>
        <span>{{
          getUser()?.[
            "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
          ]
        }}</span>
      </div>
    </div>
    <div
      class="logout-overlay d-flex align-items-center"
      style="gap: 10px"
      (click)="logout()"
    >
      Log out<span class="material-symbols-outlined"> logout </span>
    </div>
  </div>
</aside>
