<div class="new-homePage px-5 py-5">
  <div class="title">
    <h1>Yeni xidmət</h1>
  </div>
  <div class="w-100 tab-content">
    <form [formGroup]="newServiceForm">
      <p-tabView>
        <p-tabPanel header="Azərbaycan">
          <div class="az_form">
            <div class="pb-2">
              <label for="Title"> Başlıq</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleAz"
              />
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Məzmun</label>
              <quill-editor
                formControlName="descriptionAz"
                [modules]="quillModules"
              >
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage"
              *ngIf="
                newServiceForm.get('descriptionAz')?.invalid &&
                newServiceForm.get('descriptionAz')?.touched
              "
            >
              <p class="p-0 m-0">* Xana boş ola bilməz.</p>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="İngilis">
          <div class="en_form">
            <div class="pb-2">
              <label for="Title"> Title</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleEn"
              />
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Context</label>
              <quill-editor
                formControlName="descriptionEn"
                [modules]="quillModules"
              >
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage"
              *ngIf="
                newServiceForm.get('descriptionEn')?.invalid &&
                newServiceForm.get('descriptionEn')?.touched
              "
            >
              <p class="p-0 m-0">* Xana boş ola bilməz.</p>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Rus">
          <div class="ru_form">
            <div class="pb-2">
              <label for="Title"> Заголовок</label>
              <input
                type="text"
                pInputText
                class="w-100"
                formControlName="titleRu"
              />
            </div>
            <div class="d-flex flex-column pb-2">
              <label for="Title">Контекст</label>
              <quill-editor
                formControlName="descriptionRu"
                [modules]="quillModules"
              >
              </quill-editor>
            </div>
            <!--Required message-->
            <div
              class="validationMessage"
              *ngIf="
                newServiceForm.get('descriptionRu')?.invalid &&
                newServiceForm.get('descriptionRu')?.touched
              "
            >
              <p class="p-0 m-0">* Xana boş ola bilməz.</p>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      @if(iconImg && iconImg!=null){
      <div class="bgImg ps-3 py-2 mb-3">
        <img [src]="iconImg" alt="" />
      </div>
      }

      <div>
        <input
          type="file"
          accept="image/svg+xml, image/png"
          (change)="onFileSelected($event)"
          class="form-control"
          id="uploadfile"
        />
      </div>

      <div class="d-flex justify-content-end pt-4">
        <p-button
          label="Əlavə et"
          icon="fa-solid fa-plus"
          (onClick)="submit()"
        />
      </div>
    </form>
  </div>
</div>
