<div class="main px-5 py-5">
    <div class="title d-flex justify-content-between align-items-center">
      <div><h1>Rəylər</h1></div>
    </div>
    <div class="data_table">
      @if (feedbacks && feedbacks.length) {
      <!--Data table-->
      <table-togglable-columns
        [dataSource]="feedbacks"
        [displayedColumns]="displayedColumns"
        [paginator]="true"
        [editButton]="false"
        editButtonText="düzəliş et"
        [deleteButton]="true"
        deleteButtonText="sil"
        (onDelete)="deleteFeedback($event)"
        (onPage)="onPageChange($event)"
      ></table-togglable-columns>
      }
    </div>
  </div>
  